<div class="navbar">

  <div >
    <div class="grid">
      <div class="col-2">
          <img src="../../assets/img/logo_controlapi.png" alt="logo_controlapi" />
      </div>
      <div class="col-2">
        <p-button type="button" (click)="exibirMenu1 = true" icon="pi pi-align-justify"></p-button>
      </div>
    </div>
  </div>

  <p-sidebar [(visible)]="exibirMenu1" position="right">
    <ul class= "navbar-menu" >
      <li class="navbar-usuario">usuario</li>
      <li class="navbar-item" routerLinkActive="ativo"><a routerLink="dashboard">Dashboard</a></li>
      <li class="navbar-item" routerLinkActive="ativo"><a routerLink="lancamentos">Lançamentos</a></li>
      <li class="navbar-item" routerLinkActive="ativo"><a routerLink="contas">Contas</a></li>
      <li class="navbar-item" routerLinkActive="ativo"><a routerLink="categorias">Categorias</a></li>
      <li class="navbar-item" routerLinkActive="ativo"><a routerLink="transferencias">Transferências</a></li>
      <li class="navbar-item" routerLinkActive="ativo"><a routerLink="plantas">Plantas</a></li>
      <li class="navbar-item" ><a >Logout</a></li>
    </ul>
</p-sidebar>

</div>
