<div class="container containerInterno">
  <div class="grid">
    <div class="col-12">
      <h1 class="barTitle">Dashboard</h1>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 md:col-4">
      <p-panel header="Lançamentos por tipo - Mês {{ dataMensalInicio | date: 'MMMM' }}">
        <p-chart type="doughnut" [data]="dataTipoMensal" ></p-chart>
      </p-panel>
    </div>
    <div class="col-12 md:col-4">
      <p-panel header="Despesas por categoria - Mês {{ dataMensalInicio | date: 'MMMM' }}">
        <p-chart type="pie" [data]="dataCategoriaMensal"></p-chart>
      </p-panel>
    </div>
    <div class="col-12 md:col-4">
      <p-panel header="Resumo - Mês {{ dataMensalInicio | date: 'MMMM' }}">
        <div class="grid dsbResumo">
          <div class="col-12 p-fluid">
            <span >Receitas mês Atual: R$ <strong [style.color]="'blue'">{{ resumoReceitaMensal | number:'1.2-2'}}</strong></span>
          </div>
          <div class="col-12 p-fluid">
            <span>Despesas mês Atual: R$ <strong [style.color]="'red'">{{ resumoDespesaMensal | number:'1.2-2'}}</strong></span>
          </div>
          <div class="col-12 p-fluid">
            <span>Saldo mês Atual: R$ <strong [style.color]="(resumoReceitaMensal - resumoDespesaMensal) < 0 ? 'red':'blue' ">{{ (resumoReceitaMensal - resumoDespesaMensal) | number:'1.2-2'}}</strong></span>
          </div>
        </div>
        <div class="grid dsbResumo">
          <div class="col-12 p-fluid">
            <span>Receitas mês Anterior:</span>
          </div>
          <div class="col-12 p-fluid">
            <span>Despesas mês Anterior:</span>
          </div>
          <div class="col-12 p-fluid">
            <span>Saldo mês Anterior:</span>
          </div>
        </div>
      </p-panel>
    </div>
    <div class="col-12 md:col-4">
      <p-panel header="Lançamentos por tipo - Ano {{dataAnualInicio | date: 'yyyy'}}">
        <p-chart type="doughnut" [data]="dataTipoAnual" ></p-chart>
      </p-panel>
    </div>
    <div class="col-12 md:col-4">
      <p-panel header="Despesas por categoria - Ano {{dataAnualInicio | date: 'yyyy'}}">
        <p-chart type="pie" [data]="dataCategoriaAnual"></p-chart>
      </p-panel>
    </div>
    <div class="col-12 md:col-4">
      <p-panel header="Resumo - Ano {{dataAnualInicio | date: 'yyyy'}}">
        <div class="grid dsbResumo">
          <div class="col-12 p-fluid">
            <span>Receitas: R$ <strong [style.color]="'blue'">{{ resumoReceitaAnual | number:'1.2-2'}}</strong></span>
          </div>
          <div class="col-12 p-fluid">
            <span>Despesas: R$ <strong [style.color]="'red'">{{ resumoDespesaAnual | number:'1.2-2'}}</strong></span>
          </div>
          <div class="col-12 p-fluid">
            <span>Saldo: R$ <strong [style.color]="(resumoReceitaAnual - resumoDespesaAnual) < 0 ? 'red':'blue' ">{{ (resumoReceitaAnual - resumoDespesaAnual ) | number:'1.2-2'}}</strong></span>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
