<div class="container containerInterno">
  <div class="grid">
    <div class="col-12">
      <h1 class="barTitle">Cadastro de Lançamentos</h1>
    </div>
  </div>
  <form class="formDados" autocomplete="off" (ngSubmit)="pesquisar()" (keyup.enter)="pesquisar()">
    <div class="grid">
      <div class="col-12 p-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao" [(ngModel)]="filtro.descricao" pTooltip="Entre com uma descrição" tooltipPosition="top"
              onfocus="this.select()" placeholder="Digite parte da descrição ou deixe em branco para todos" >
      </div>

      <div class="col-12">
        <p-button class="btn" type="submit" label="Pesquisar"></p-button>
        <a pButton routerLink="cadastro" label="Novo Lançamento"></a>
      </div>
    </div>
  </form>

  <div class="gri">
    <div class="col-12">
      <p-table [value]="lancamentosPesquisa" [paginator]="true" [responsive]="true"
      [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)" #gridTable>
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Pagamento</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento >
          <tr>
            <td class="col-id">{{ lancamento.id }}</td>
            <td >{{ lancamento.descricao }}</td>
            <td >{{ lancamento.dataPagamento | date:'dd/MM/yyyy'}}</td>
            <td >{{ lancamento.idCategoria.tipo}}</td>
            <td >{{ lancamento.valor | number:'1.2-2'}}</td>
            <td class="col-opcoes">
              <a class="btn" [routerLink]="[ '/lancamentos', lancamento.id ]" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" ></a>
              <button (click)="confirmarExclusao(lancamento)" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum lançamento encontrado
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
